body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
}

.header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/image/fondo_personal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 100px 0;
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid white;
}


.header-section h1 {
    font-size: 3rem;
    font-weight: bold;
}


.about-section {
    padding: 60px 0;
}

.about-section h2 {
    font-size: 2.5rem;
    color: #4e54c8;
    margin: 0 auto; /* Esto centra el párrafo horizontalmente */
    text-align: center;
}

.about-section p {
    font-size: 1.1rem;
}

.contact-section {
    background-color: #4e54c8;
    color: white;
    padding: 60px 0;
    margin: 0 auto;
    text-align: center;
}

.contact-section h3 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.contact-section a {
    color: #f8f9fa;
    font-size: 1.1rem;
}

